body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    display: block;
    background-color: whitesmoke;
    font-family: 'Work Sans', sans-serif;
}
img{
    width: 100%;
    height: auto;
}
.container{
    padding: 25px;
}
@media screen and (max-width: 600px){
    .container{
        padding: 0;
    }
    .content_bottom_text{
        font-size: 10px;
    }
    .saleoff{
        font-size: 12px;
        text-transform: uppercase;
    }
    .footer_right span{
        font-size: 7px;
    }
    .footer_bottom span{
        font-size: 5px;
    }
    .icon span a i{
        font-size: 5px;
    }
}
.banner{
    height: auto;
}
.content{
    margin-top: -5px;
}
.content_right{
    float: left;
    width: 50%;
}
.content_left{
    float: left;
    width: 50%;
}
.content_bottom{
    float: left;
}
.content_bottom_text{
    margin: 15px 0;
    width: 100%;
    text-align: center;
}
.content_bottom_box{
    float: left;
    width: 20%;
}
.footer{
    float: left;
    width: 100%;
    margin: 20px 0;
}
.footer_left{
    width: 80%;
    float: left;
    padding-left: 5%;
    margin-top: 5%;
    box-sizing: border-box;
}
.saleoff{
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    float: left;
}
.search{
    width: 50%;
    padding: 7px 5px;
    border: 1px solid black;
}
.submit{
    padding: 7px 10px;
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
    border: 2px solid black;
    /*box-shadow: 1px 0 0 1px rgba(0,0,0,0.5);*/
    border-radius: 2px;
}
.icon{
    margin-top: 10px;
}
.icon span a {
    color: black;
    padding-right: 30px;
}
.icon span a i{
    font-size: 35px;
}
.footer_right{
    width: 20%;
    float: left;
    margin-top: 5%;
}
.footer_right span span{
    font-weight: bold;
    text-transform: uppercase;
}
.footer_bottom{
    float: left;
    width: 100%;
    margin: 7% 0 10% 0;
    text-align: center;
}
.footer_bottom span{
    text-align: center;
    text-transform: capitalize;
}